body {
    /* background: url('resources/bg-screen.jpg'); */
    background-size: cover;
}

.login {
    background-color: white;
    width: 1150px;
    height: 550px;
    margin: 40px 0px 0px 0px;
    box-shadow: 0px 0px 20px #bfbfbf;
    position: relative;    
}

.img_login {
    margin: 100px 0px 0px 50px;
    width: 440px;
    position: relative;
}

.logo_login {
    width: 100px;
    position: absolute;
    margin: 20px 0px 0px 40px;
    
}

.garis{
    width: 1px;
    height: 30%;
    background-color: #8A8D8F;
    position: absolute;
    margin-left: 485px;
    margin-top: -220px;
}

.footer_login{
    width: 100%;
    height: 50px;
    background-color: #005A9F;
    margin-top: 110px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 15px;
}

.column_position {
 top: -430px;
 margin-left: 520px;
 padding-top: 20px;
 font-weight: 600;
}


